<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>ACME - Gestione Progetti - Amministrazione</title>
    </head>

    <body>
        <h1>Gestione Progetti</h1>

        <h2>Amministrazione</h2>

        <h3>Impiegato</h3>

        <p><a href="/admin/impiegati">Impiegati</a></p>

        <form action="/admin/impiegati/edit"  method="POST">
            <input type="hidden" name="id" value="<%= impiegato.Iid %>">
            <input type="text" name="cognome" id="cognome" value="<%= impiegato.Icognome %>">
            <label for="cognome">Cognome:</label>
            <input type="text" name="nome" id="nome" value="<%= impiegato.Inome %>">
            <label for="nome">Nome:</label>
            <input type="submit" value="Salva">
        </form>

        <p>Dipartimento Attuale: <%= impiegato.Dnome %> </p>

        <form action="/admin/impiegato/dipartimento" method="POST">
            <input type="hidden" name="id" value="<%= impiegato.Iid %>">
            <select name="dipartimento" id="dipartimento">
                <% dipartimenti.forEach(function (dipartimento) { %>
                    <option value="<%= dipartimento.id %>" <% if (dipartimento.id==impiegato.Did) { %><%= "selected" %><% } %>><%= dipartimento.nome %></option>
                <% }); %>
            </select>
            <label for="dipartimento">Scegli dipartimento:</label>
            <input type="submit" value="Assegna a dipartimento">
        </form> 
    </body>
</html>