<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ACME - Gestione Progetti - Amministrazione</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    </head>

    <body>
        <div class="container">

        <h1>Gestione Progetti</h1>

        <h2>Amministrazione</h2>

        <h3>Progetto <%= progetto.nome %></h3>

        <p><a href="/admin/progetti">Progetti</a></p>

        <form action="/admin/progetti/edit"  method="POST">
            <div class="row">
                <div class="col">

            <input type="hidden" name="id" value="<%= progetto.id %>">
            <input type="text"  class="form-control" name="nome" value="<%= progetto.nome %>">
            </div>
            <div class="col">
             <input type="text"  class="form-control" name="budjet" value="<%= progetto.budjet %>">
            </div>

             <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                Salva
            </button>  
         </div>

            
        </form>  
  
        <br>
        <form action="/admin/progetti/impiegati" method="POST">
            <label for="Impiegato"><h3>Assegna partecipante:</h3></label>
            <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false">
            Aggiungi partecipante                
            </button>
            <div class="form-group col-md-4">

            <input type="hidden" name="nome" value="<%= progetto.id %>">
            <select name="Impiegato" id="Impiegato" class="form-control">
                <% impiegati.forEach(function (impiegato) { %>
                    <option value="<%= impiegato.id %>"><%= impiegato.nome %></option>
                <% }); %>
            </select>
        </div>
          
        
        </form> 


        <ul class="list-group mt-5">
            <% partecipazioni.forEach(function (partecipazione) { %>
                <li class="list-group-item"><%= partecipazione.Progetto %> - <%= partecipazione.N %> <%= partecipazione.C %></li>
            <% }); %>
       </ul>
       </div>
    </body>
    
</html>